<div class="c-content-wrap">
	<div class="tabSwitch">
		<div class="searchGroup">
			<div class="c-flex-row-start c-flex-auto-wrap c-search-row">
				<div class="c-search-item">
					<input type="date">
				</div>
				<div class="c-search-item">
					<input type="date">
				</div>
				<div class="c-search-item">
					<input nz-input placeholder="申请人姓名">
				</div>
			</div>
			<div class="c-flex-row-start c-flex-auto-wrap c-search-row">

				<!-- 网点 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.departmentId" nzAllowClear nzPlaceHolder="网点">
						<nz-option *ngFor = 'let item of departList' [nzValue]="item.id" [nzLabel]="item.name">
						</nz-option>
					</nz-select>
				</div>

				<!-- 产品名称 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.productId" nzAllowClear nzPlaceHolder="产品名称">
						<nz-option *ngFor = 'let item of productList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 客户经理 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.createUser" nzAllowClear nzPlaceHolder="客户经理">
						<nz-option *ngFor = 'let item of userManagerList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 节点流程 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;"  nzAllowClear nzPlaceHolder="流程节点">
						<nz-option *ngFor = 'let item of processList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 处理人 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.modifyUser" nzAllowClear nzPlaceHolder="处理人">
						<nz-option *ngFor = 'let item of dealUserList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>
			</div>
			<div class="c-flex-row-start c-flex-auto-wrap">
				<div class="c-search-btn">
					 <button nz-button nzType="primary" (click)='reset()'>重置</button>
				</div>
				<div>
					 <button (click) = 'search()' nz-button nzType="primary"><i class="anticon anticon-search"></i>搜索</button>
				</div>
			</div>
		</div>
	</div>
	<c-table [tableData]='tableData'>
	</c-table>
	<div class="c-pag">
		<nz-pagination (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
	</div>
</div>

<nz-modal
	[(nzVisible)]="delMark"
	nzTitle="确认删除"
	nzOkText="确定"
	nzCancelText="取消"
	(nzOnOk)="delProduct()"
	(nzOnCancel)="delMark = !delMark"
>
  	<div class="c-flexStart">
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div>
  			<h4>
  				确认删除？
  			</h4>
  			<p>
  				一旦删除,该数据将不可恢复
  			</p>
  		</div>
  	</div>
</nz-modal>

<nz-modal [(nzVisible)]="boxShow" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="boxShow = false">
		<ng-template #modalTitle>
			<span >确认到账</span>
		</ng-template>
	
		<ng-template #modalContent>
			<form nz-form [nzLayout]="'inline'" [formGroup]="verifyFrorm" (ngSubmit)="submitForm()">
				<nz-form-item class='formSec'>
					<nz-form-label [nzSm]="6" nzRequired nzFor="realRepaymentDate">到账日期</nz-form-label>
					<nz-form-control [nzSm]="17"  [nzOffset]='1'>
						<input type="date" nz-input formControlName="realRepaymentDate" id="realRepaymentDate">
						<nz-form-explain *ngIf="verifyFrorm.get('realRepaymentDate').dirty && verifyFrorm.get('realRepaymentDate').errors">到账日期必须选择</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
			</form>
		</ng-template>
		<ng-template #modalFooter>
			<button nz-button nzType="primary" [disabled]="!verifyFrorm.valid" (click)='makeSure()'>确定</button>
			<button nz-button nzType="default" (click)='boxShow = false'>关闭</button>
		</ng-template>
	</nz-modal>