<div class="c-content-wrap">
	<div class="tabSwitch">
<!-- 		<div class="c-flex-row-start c-dash-border">
			<div class="orderType-sec">
				类别 :
			</div>
			<ul class="c-list-unstyled c-flex-row-start">
				<li 
					*ngFor = 'let item of menuType;' 
					class="orderType-item c-flex-row-start"
					[ngClass] = '{"activeItem" : item.status == activeState}'
					(click) = 'changeType(item.status)'
				>
					{{item.desc}}
				</li>
			</ul>
		</div> -->
		<div class="searchGroup">
			<div class="c-flex-row-start c-flex-auto-wrap c-search-row">
				<div class="c-search-item">
					<input type="date">
				</div>
				<div class="c-search-item">
					<input type="date">
				</div>
				<div class="c-search-item">
					<input nz-input placeholder="申请人姓名">
				</div>
			</div>
			<div class="c-flex-row-start c-flex-auto-wrap c-search-row">

				<!-- 网点 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.departmentId" nzAllowClear nzPlaceHolder="网点">
						<nz-option *ngFor = 'let item of departList' [nzValue]="item.id" [nzLabel]="item.name">
						</nz-option>
					</nz-select>
				</div>

				<!-- 产品名称 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.productId" nzAllowClear nzPlaceHolder="产品名称">
						<nz-option *ngFor = 'let item of productList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 客户经理 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.createUser" nzAllowClear nzPlaceHolder="客户经理">
						<nz-option *ngFor = 'let item of userManagerList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 节点流程 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;"  nzAllowClear nzPlaceHolder="流程节点">
						<nz-option *ngFor = 'let item of processList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 处理人 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.modifyUser" nzAllowClear nzPlaceHolder="处理人">
						<nz-option *ngFor = 'let item of dealUserList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>
			</div>
			<div class="c-flex-row-start c-flex-auto-wrap">
				<div class="c-search-btn">
					 <button nz-button nzType="primary" (click)='reset()'>重置</button>
				</div>
				<div>
					 <button (click) = 'search()' nz-button nzType="primary"><i class="anticon anticon-search"></i>搜索</button>
				</div>
			</div>
		</div>
	</div>
	<c-table [tableData]='tableData'>
	</c-table>
	<div class="c-pag">
		<nz-pagination (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
	</div>
</div>

<nz-modal [(nzVisible)]="orderBack" [nzTitle]="orderTitle" [nzContent]="orderContent" [nzFooter]="orderFooter" (nzOnCancel)="orderBack = false">
	<ng-template #orderTitle>
		<span *ngIf='!editMark'>新增产品</span>
		<span *ngIf='editMark'>编辑产品</span>
	</ng-template>

	<ng-template #orderContent>
		<form nz-form [nzLayout]="'inline'" [formGroup]="bakckForm" (ngSubmit)="submitForm()">
			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="7" nzRequired nzFor="destOrderStatus">回退节点</nz-form-label>
				<nz-form-control [nzSm]="16"  [nzOffset]='1'>
					<nz-select name="select-error" formControlName="destOrderStatus" id="destOrderStatus">
						<nz-option nzValue="2" nzLabel="补录阶段"></nz-option>
						<nz-option nzValue="4" nzLabel="初审阶段"></nz-option>
						<nz-option nzValue="5" nzLabel="复审阶段"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="7" nzFor="opinion">备注</nz-form-label>
				<nz-form-control [nzSm]="16"  [nzOffset]='1'>
					<input nz-input formControlName="opinion" id="opinion">
				</nz-form-control>
			</nz-form-item>
		</form>
	</ng-template>

	<ng-template #orderFooter>
		<button nz-button nzType="primary" [disabled]="!bakckForm.valid" (click)='backSure()'>确定</button>
		<button nz-button nzType="default" (click)='orderBack = false'>关闭</button>
	</ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="cancelModel" [nzTitle]="cancelTitle" [nzContent]="cancelContent" [nzFooter]="cancelFooter" (nzOnCancel)="cancelModel = false">
	<ng-template #cancelTitle>
		客户取消
	</ng-template>
  
	<ng-template #cancelContent>
		<div class="c-flexStart">
			<i class="anticon anticon-info-circle-o c-warnInfo"></i>
			<div>
				<h4>
					客户确认要取消订单
				</h4>
				<p>
					取消之后,将立即进入【已取消】列表
				</p>
			</div>
		</div>
	</ng-template>
  
	<ng-template #cancelFooter>
	  <button nz-button nzType="default" (click)="cancelModel = false">取消</button>
	  <button nz-button nzType="primary" (click)="cancel()">确认</button>
	</ng-template>
  </nz-modal>