<nz-tabset>
	<nz-tab nzTitle="员工列表">
		<div class="c-content-wrap">
			<div class="tabSwitch">
				<div class="searchGroup">
					<div class="c-flex-row-start c-flex-auto-wrap c-search-row">
						<div class="c-search-item">
							<nz-select style="width: 120px;" [(ngModel)]="stuffSearch.status" nzAllowClear nzPlaceHolder="状态">
								<nz-option nzValue="1" nzLabel="正常"></nz-option>
								<nz-option nzValue="2" nzLabel="冻结"></nz-option>
								<nz-option nzValue="3" nzLabel="失效"></nz-option>
								<nz-option nzValue="4" nzLabel="过期"></nz-option>
							</nz-select>
						</div>
						<div class="c-search-item">
							<input style="width: 120px;" nz-input placeholder="用户名" [(ngModel)] = 'stuffSearch.userName'>
						</div>
						<div class="c-search-item">
							<input style="width: 120px;" nz-input placeholder="真实姓名" [(ngModel)] = 'stuffSearch.name'>
						</div>
						<div class="c-search-item">
							<input style="width: 120px;" nz-input placeholder="手机号" [(ngModel)] = 'stuffSearch.phone'>
						</div>
					</div>
					<div class="c-flex-row-start c-flex-auto-wrap">
						<div class="c-search-btn">
							 <button nz-button nzType="primary" (click)='reset("stuff")'>重置</button>
						</div>
						<div>
							 <button (click) = 'search("stuff")' nz-button nzType="primary"><i class="anticon anticon-search"></i>搜索</button>
						</div>
					</div>
				</div>
			</div>
			<button nz-button nzType="primary" style="border-radius: 0px" (click)='addNewStuff()'>
				<i class="anticon anticon-plus"></i>
				新增角色
			</button>
			<c-table [tableData]='tableData'>
			</c-table>
			<div class="c-pag">
				<nz-pagination (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="stuffSearch.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
			</div>
</div>
	</nz-tab>
	<nz-tab nzTitle="网点结构">
		<div *ngIf='treeInfo'>
			<nz-tree [(ngModel)]="treeInfo">
			</nz-tree>
		</div>
	</nz-tab>
	<nz-tab nzTitle="角色管理">

	</nz-tab>
</nz-tabset>


<nz-modal [(nzVisible)]="stuffBoxShow" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="stuffBoxShow = false">
	<ng-template #modalTitle>
		<span *ngIf='!editMark'>新增员工</span>
		<span *ngIf='editMark'>编辑员工</span>
	</ng-template>

	<ng-template #modalContent>
		<form nz-form [nzLayout]="'inline'" [formGroup]="stuffForm">
			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="username">用户名</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<input nz-input formControlName="username" id="username">
					<nz-form-explain *ngIf="stuffForm.get('username').dirty && stuffForm.get('username').errors">用户名必须输入</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="name">真实姓名</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<input nz-input formControlName="name" id="name">
					<nz-form-explain *ngIf="stuffForm.get('name').dirty && stuffForm.get('name').errors">真实姓名必须输入</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="telephone">手机号</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<input nz-input formControlName="telephone" id="telephone">
					<nz-form-explain *ngIf="stuffForm.get('telephone').dirty && stuffForm.get('telephone').errors">手机号必须输入,或输入不正确</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="idCard">身份证号码</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<input nz-input formControlName="idCard" id="idCard">
					<nz-form-explain *ngIf="stuffForm.get('idCard').dirty && stuffForm.get('idCard').errors">身份证必须输入,或输入不正确</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="password">登录密码</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<div class="c-flex-row-start">
						<input nz-input formControlName="password" id="password" style="margin-right: 10px">
						<button nz-button nzType="primary" (click) = 'randomPass(8)'>随机密码</button>
					</div>
					<nz-form-explain *ngIf="stuffForm.get('password').dirty && stuffForm.get('password').errors">身份证必须输入</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="departmentId">所属网点</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择所属网点" formControlName="departmentId" id="departmentId">
						<nz-option 
							*ngFor = 'let item of optionDeapart;'
							[nzValue]="item.id.toString()" 
							[nzLabel]="item.value"
						>
						</nz-option>
					</nz-select>
					<nz-form-explain *ngIf="stuffForm.get('departmentId').dirty && stuffForm.get('departmentId').errors">所属网点必须选择</nz-form-explain>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="6" nzRequired nzFor="roleIds">所属角色</nz-form-label>
				<nz-form-control [nzSm]="17"  [nzOffset]='1'>
					<nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="请选择所属角色" id='roleIds' formControlName="roleIds">
						<nz-option *ngFor="let option of roleList" [nzLabel]="option.nameZh" [nzValue]="option.id.toString()">
						</nz-option>
					</nz-select>
					<nz-form-explain *ngIf="stuffForm.get('roleIds').dirty && stuffForm.get('roleIds').errors">所属角色必须选择</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
		</form>
	</ng-template>
	<ng-template #modalFooter>
		<button nz-button nzType="primary" *ngIf='!stuffEditMark' [disabled]="!stuffForm.valid" (click)='makeNewStuff()'>确定</button>
		<button nz-button nzType="primary" *ngIf='stuffEditMark' [disabled]="!stuffForm.valid" (click)='save()'>保存</button>
		<button nz-button nzType="default" (click)='stuffBoxShow = false'>关闭</button>
	</ng-template>
</nz-modal>

<nz-modal
	[(nzVisible)]="freezeMark"
	nzTitle="确认操作"
	nzOkText="确定"
	nzCancelText="取消"
	(nzOnOk)="freeOper()"
	(nzOnCancel)="freezeMark = !freezeMark"
>
  	<div class="c-flexStart" *ngIf='stuffInfo'>
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div *ngIf = 'stuffInfo.status == 1'>
  			<h4>
  				确认冻结？
  			</h4>
  			<p>
  				一旦冻结,该账户将不可登录
  			</p>
  		</div>
  		<div *ngIf = 'stuffInfo.status != 1'>
  			<h4>
  				确认解冻？
  			</h4>
  			<p>
  				一旦解冻,该账户将可登录
  			</p>
  		</div>
  	</div>
</nz-modal>