.tabSwitch{
    width: 100%;
    background: #fafafa;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #d0d0d0;
    box-shadow: 0px 0px 1px #d0d0d0;
}
.formSec{
    width: 70%;
    margin-bottom: 20px;
}