.c-list-unstyled{
	list-style: none;
    padding: 0;
    margin: 0;
}
.c-img-res{
	display:block;
	width:100%;
	height:auto ;
}
.c-flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.c-flex-row-start{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}
.c-flex-row-end{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}
.c-content-wrap{
	padding:20px;
}
.c-pag{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.c-dash-border{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}
.c-flex-auto-wrap{
	flex-wrap: wrap;
}
.c-search-wrap{
	width: 100%;
    background: #fafafa;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #d0d0d0;
    box-shadow: 0px 0px 1px #d0d0d0;
}
.c-search-item{
	margin-right: 20px;
}
.c-search-row{
	margin-bottom: 20px;
}
.c-search-btn{
	margin-right: 20px;
}
.c-color-danger{
	background: red;
}
.c-btn-width{
	width: 120px;
}
.c-flexStart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.c-warnInfo{
    color: #fa8b27;
    font-size: 26px;
    margin-right: 15px;
}
.c-before-line{
    position: relative;
    text-indent: 20px;
}
.c-before-line::before{
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background: #1890ff;
    position: absolute;
    left: 0px;
    top: 0px;
}
.c-fold-wrap{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px #ababab;
}
.c-fold-title{
    line-height: 40px;
    height: 40px;
    background: #1890ff;
    color: #fff;
    padding: 0 20px;
    border-radius: 2px 2px 0 0;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}
.c-flex-row-space{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}
.c-arrow-ico{
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.c-arrow-ico:hover{
    color: #cacaca !important;
}
.c-fold-content{
    width:100%;
    display:block;
    // transition:all .5s linear;
    overflow-y: hidden;
    border: 1px solid #e8e8e8;
    padding: 20px;
}
.c-fold-content-fold{
    height:0px;
    padding:0px;
}
.c-text-overflow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.c-text-noSelect{
    user-select: none;
}
.c-border{
    border: 1px solid #e6e6e6 ;
}