.c-list-unstyled{
	list-style:none;
}
.c-img-res{
	display:block;
	width:100%;
	height:auto ;
}
.c-flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.c-flex-row-start{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}
.c-content-wrap{
	padding:20px;
}
.c-pag{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}