<div class="container">
	<div class="infoWrap">
        <div class="info_title">
            初审意见
        </div>
        <div class="info_content" *ngIf='result'>
            <div class="secItem">
                <span>拟批</span>
                <span>
                    {{result.mockMoney}} 元
                </span>
            </div>
            <div class="secItem">
                <span class="title">拟批备注</span>
                <p class="pgh">
                     {{result.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="infoWrap">
        <div class="info_title">
            复审意见
        </div>
        <div class="info_content" *ngIf='secondResult'>
            <div class="secItem">
                <span>拟批</span>
                <span>
                    {{secondResult.mockMoney}} 元
                </span>
            </div>
            <div class="secItem">
                <span class="title">拟批备注</span>
                <p class="pgh">
                     {{secondResult.description}}
                </p>
            </div>
        </div>
    </div>
    <form nz-form [nzLayout]="'inline'" [formGroup]="thirdForm">
        <div class="c-flex-row-start c-flex-auto-wrap">
            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="status">审核结果</nz-form-label>
                <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                    <nz-select name="select-error" formControlName="status" id="status">
                        <nz-option nzValue="0" nzLabel="不通过"></nz-option>
                        <nz-option nzValue="1" nzLabel="通过"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="agreeMoney">核批金额</nz-form-label>
                <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                    <nz-input-group nzAddOnAfter="元">
                        <input nz-input formControlName="agreeMoney" id="agreeMoney">
                    </nz-input-group>
                    <nz-form-explain *ngIf="thirdForm.get('agreeMoney').dirty && thirdForm.get('agreeMoney').errors">借款期限必须为6的倍数</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="deadLine">借款期限</nz-form-label>
                <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                    <nz-input-group nzAddOnAfter="年">
                        <input nz-input formControlName="deadLine" id="deadLine">
                    </nz-input-group>
                    <nz-form-explain *ngIf="thirdForm.get('deadLine').dirty && thirdForm.get('deadLine').errors">借款期限必须为6的倍数</nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            
            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="status">贷款产品</nz-form-label>
                <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                    <nz-select name="select-error" formControlName="status" id="status">
                        <nz-option *ngFor='let item of proList' [nzValue]="item.id" [nzLabel]="item.productName"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="annualInterestRate">年化利率</nz-form-label>
                <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                    <nz-input-group nzAddOnAfter="%">
                        <input nz-input formControlName="annualInterestRate" id="annualInterestRate">
                    </nz-input-group>
                    <nz-form-explain *ngIf="thirdForm.get('annualInterestRate').dirty && thirdForm.get('annualInterestRate').errors">借款期限必须为6的倍数</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="repayMonth">每月还款金额</nz-form-label>
                <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                    <nz-input-group nzAddOnAfter="元">
                        <input nz-input formControlName="repayMonth" id="repayMonth" readonly='true'>
                    </nz-input-group>
                    <nz-form-explain *ngIf="thirdForm.get('repayMonth').dirty && thirdForm.get('repayMonth').errors">借款期限必须为6的倍数</nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class='formContent'>
                <nz-form-label [nzSm]="7" nzRequired nzFor="description">备注</nz-form-label>
                    <nz-form-control [nzSm]="16"  [nzOffset]='1'>
                        <textarea nz-input formControlName="description" rows="4" placeholder="备注" id="description"></textarea>
                    </nz-form-control>
            </nz-form-item>
        </div>
    </form>
    <div class="btnGroup c-flex-row-start">
        <!-- <button nz-button nzType="primary" class="c-btn-width usr_cancel" (click)='showRefuse()'>
            拒绝
        </button> -->
        <!-- <button nz-button nzType="primary" class="c-btn-width" (click)="pass()"> -->
        <button nz-button nzType="primary" class="c-btn-width" (click)="submit()">
            提交
        </button>
    </div>
</div>