<div class="c-content-wrap">
	<div class="c-search-wrap">
		<div class="c-search-row c-flex-row-start c-flex-auto-wrap">
			<div class="c-search-item">
				<nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
					<nz-option nzValue="jack" nzLabel="Jack"></nz-option>
					<nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
					<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
				</nz-select>
			</div>

			<div class="c-search-item">
				<nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
					<nz-option nzValue="jack" nzLabel="Jack"></nz-option>
					<nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
					<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
				</nz-select>
			</div>
			<div class="c-search-item">
				<nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
					<nz-option nzValue="jack" nzLabel="Jack"></nz-option>
					<nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
					<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
				</nz-select>
			</div>
			<div class="c-search-item">
				<nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
					<nz-option nzValue="jack" nzLabel="Jack"></nz-option>
					<nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
					<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
				</nz-select>
			</div>
			<div class="c-search-item">
				<nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
					<nz-option nzValue="jack" nzLabel="Jack"></nz-option>
					<nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
					<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
				</nz-select>
			</div>
		</div>
		<div class="c-search-row c-flex-auto-wrap c-flex-row-start">
			<div class="c-search-item">
				<input type="date" [(ngModel)] = 'searchModel.min'>
			</div>
			<div class="c-search-item">
				<input type="date" [(ngModel)] = 'searchModel.max'>
			</div>
			
			<div class="c-search-item">
				<input nz-input placeholder="Basic usage" [(ngModel)]="searchModel.proposerName">
			</div>
		</div>
		<div class="c-search-row c-flex-row-start c-flex-auto-wrap">
			<div class="c-search-btn">
				 <button nz-button nzType="primary" (click)='reset()'>重置</button>
			</div>
			<div>
				 <button (click) = 'search()' nz-button nzType="primary"><i class="anticon anticon-search"></i>Loading</button>
			</div>
		</div>
	</div>
	<c-table [tableData]='tableData'>
	</c-table>
	<div class="c-pag">
		<nz-pagination (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
	</div>
</div>

<nz-modal [(nzVisible)]="passModel" [nzTitle]="passTitle" [nzContent]="passContent" [nzFooter]="passFooter" (nzOnCancel)="passModel = false">
  <ng-template #passTitle>
  	确认预审通过
  </ng-template>

  <ng-template #passContent>
  	<div class="c-flexStart">
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div>
  			<h4>
  				确认通过
  			</h4>
  			<p>
  				通过之后,将立即进入资料补录阶段
  			</p>
  		</div>
  	</div>
  </ng-template>

  <ng-template #passFooter>
    <button nz-button nzType="default" (click)="passModel = false">取消</button>
    <button nz-button nzType="primary" (click)="pass()">通过</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="refuseModel" [nzTitle]="refuseTitle" [nzContent]="refuseContent" [nzFooter]="refuseFotter" (nzOnCancel)="refuseModel = false">
  <ng-template #refuseTitle>
  	确认预审拒绝
  </ng-template>

  <ng-template #refuseContent>
  		<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
			<nz-form-item class='formSec'>
<!-- 				  "0": "进件信息造假",
    "1": "进件资料造假",
    "2": "经营异常",
    "3": "法院纠纷",
    "4": "负面信息",
    "5": "同行进件",
    "6": "偿贷能力不足/负债搞/隐形负债超纲",
    "7": "不符合进件大纲",
    "8": "综合评分不足",
    "9": "风险行业",
    "10": "客户取消" -->
				<nz-form-label [nzSm]="5" nzRequired nzFor="rejectionReason">拒绝原因</nz-form-label>
				<nz-form-control [nzSm]="18"  [nzOffset]='1'>
					<nz-select name="select-error" formControlName="rejectionReason" id="rejectionReason">
						<nz-option nzValue="0" nzLabel="进件信息造假"></nz-option>
						<nz-option nzValue="1" nzLabel="进件资料造假"></nz-option>
						<nz-option nzValue="2" nzLabel="经营异常"></nz-option>
						<nz-option nzValue="3" nzLabel="法院纠纷"></nz-option>
						<nz-option nzValue="4" nzLabel="负面信息"></nz-option>
						<nz-option nzValue="5" nzLabel="同行进件"></nz-option>
						<nz-option nzValue="6" nzLabel="偿贷能力不足/负债搞/隐形负债超纲"></nz-option>
						<nz-option nzValue="7" nzLabel="不符合进件大纲"></nz-option>
						<nz-option nzValue="8" nzLabel="综合评分不足"></nz-option>
						<nz-option nzValue="9" nzLabel="风险行业"></nz-option>
						<nz-option nzValue="10" nzLabel="客户取消"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item class='formSec'>
				<nz-form-label [nzSm]="5" nzRequired nzFor="opinion">审批意见</nz-form-label>
				<nz-form-control [nzSm]="18"  [nzOffset]='1'>
					<textarea nz-input formControlName="opinion" rows="4" placeholder="备注" id="opinion"></textarea>
				</nz-form-control>
			</nz-form-item>
		</form>
  </ng-template>

  <ng-template #refuseFotter>
    <button nz-button nzType="default" (click)="refuseModel = false">取消</button>
    <button nz-button nzType="primary" (click)="refuse()">拒绝</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="cancelModel" [nzTitle]="refuseTitle" [nzContent]="cancelContent" [nzFooter]="cancelFotter" (nzOnCancel)="cancelModel = false">
  <ng-template #cancelTitle>
  	确认客户取消
  </ng-template>

  <ng-template #cancelContent>
  	<div class="c-flexStart">
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div>
  			<h4>
  				确认客户取消
  			</h4>
  			<p>
  				一旦客户取消,数据将不可恢复
  			</p>
  		</div>
  	</div>
  </ng-template>

  <ng-template #cancelFotter>
    <button nz-button nzType="default" (click)="cancelModel = false">取消</button>
    <button nz-button nzType="primary" (click)="cancel()">客户取消</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="orderBack" [nzTitle]="orderTitle" [nzContent]="orderContent" [nzFooter]="orderFooter" (nzOnCancel)="orderBack = false">
	<ng-template #orderTitle>
		<span *ngIf='!editMark'>新增产品</span>
		<span *ngIf='editMark'>编辑产品</span>
	</ng-template>

	<ng-template #orderContent>
		<form nz-form [nzLayout]="'inline'" [formGroup]="bakckForm" (ngSubmit)="submitForm()">
			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="7" nzRequired nzFor="destOrderStatus">回退节点</nz-form-label>
				<nz-form-control [nzSm]="16"  [nzOffset]='1'>
					<nz-select name="select-error" formControlName="destOrderStatus" id="destOrderStatus">
						<nz-option nzValue="2" nzLabel="补录阶段"></nz-option>
						<nz-option nzValue="4" nzLabel="初审阶段"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class='c-formSec'>
				<nz-form-label [nzSm]="7" nzFor="opinion">备注</nz-form-label>
				<nz-form-control [nzSm]="16"  [nzOffset]='1'>
					<input nz-input formControlName="opinion" id="opinion">
				</nz-form-control>
			</nz-form-item>
		</form>
	</ng-template>

	<ng-template #orderFooter>
		<button nz-button nzType="primary" [disabled]="!bakckForm.valid" (click)='backSure()'>确定</button>
		<button nz-button nzType="default" (click)='orderBack = false'>关闭</button>
	</ng-template>
</nz-modal>