.container{
	width: 100%;
	padding: 20px;
}
.stepWrap{
	width: 100%;
	margin: 40px auto;
	border-bottom: 1px solid rgb(232, 232, 232);
	padding-bottom: 40px;
	padding-left: 10%;
	padding-right: 10%;
	box-sizing: border-box;
}
.usr_cancel{
	margin-right: 40px;
	background: #d8d3d3;
	border: none;
	color: #8e8e8e;
}
.listWrap{
	width: 60%;
	padding: 20px;
	margin: 0 auto;
	flex-wrap: wrap;
}
.proList{
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 80px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.proList_active,
.proList:hover{
	background: #1890ff !important;
	color: #fff !important;
}
.btnGroup{
	width: 100%;
	margin-top: 50px;
	cursor: pointer;
}
.ant-tabs-bar{
	display: none ;
}
.stepContent .ant-tabs-bar{
	display: none !important;
}
.title{
	height: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}
.tabContent{
	width: 100% ;
	display: none ;
}
.activeTab{
	display: block !important ;
}
.usrManger_info{
	margin-top: 50px;
}
.formRow{
	margin-bottom: 25px;
}
.formItem{
	margin-right: 20px;
}
.formItem_title{
	margin-right: 10px;
}
.formItem_title::before{
	content: "*";
	color:#f00;
}
.inputRadio{
	margin-right: 20px;
}
.inputRadio>input{
    border: none;
    border-bottom: 1px solid #ccc;
    margin-left: -14px;
    width: 40px;
    text-align: center;
}
.line_input{
	width: 110px;
}
.lineWrap{
	margin-bottom: 5px;
}
.uploadWrap{
	position: relative;
    width: 150px;
}
.imgUploadBtn,
#fileUpload{
	position: absolute;
    top: -16px;
    left: 20px;
    width: 120px;
}
#fileUpload{
	opacity: 0;
	z-index: 99;
	cursor:pointer;
}
.img_table{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.img_table thead tr{
	background: #1890ff;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.img_table tbody td{
	text-align: center;
}
.img_table tbody tr{
	border-bottom: 1px solid #ccc;
}
.img_table th{
	text-align: center;
}
.table-img{
	width: 75%;
}
.table-type{
	width: 15%;
}
.table-oper{
	width: 10%;
}
.imgIco{
	font-size: 40px;
    color: #1890ff;
}
.tableImgWrap{
    width: 80px;
    margin: 5px 0px;
    border: 1px solid #cccccc3d;
    border-radius: 2px;
    margin-right: 20px;
}
.flexColumnCenter{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.operWrap{
	width: 100%;
}
.operBtn{
	padding: 0 3px;
    display: block;
    width: 50%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.look{
	background: #1890ff;
}
.del{
	background: #ff1000;
}
.imgWrap{
	width: 100%;
}
.imgWrap>img{
	max-width: 250px;
}
.icoDel{
	cursor: pointer;
}