<div class="container">
	<div class="stepWrap">
		<nz-steps [nzCurrent]="current" nzSize="small">
			<nz-step nzTitle="选择贷款产品"></nz-step>
			<nz-step nzTitle="申请表信息录入"></nz-step>
			<nz-step nzTitle="提交申请"></nz-step>
		</nz-steps>
	</div>
	<div class="stepContent">
		<div class="tabContent" [ngClass] = '{activeTab : current == 0}'>
			<div class="c-flex-row-start listWrap">
				<div class="proList c-text-noSelect" 
					[nz-tooltip]="'点击选择此产品'" 
					*ngFor = 'let item of proListData;let idx = index'
					[ngClass] = '{"proList_active" : proList_active == idx}'
					(click) = 'selectPro(item , idx)'
				>
					<img [src]="item.imagePath?item.imagePath:'./assets/img/card.png'" alt="" class="c-img-res" style="height: 145px;">
					<div class="cardInfo">
						<div class="info_title">
							{{item.productName}}
						</div>
						<div class="sec_info" *ngIf = 'item.loanDeadline'>
							借款期限 : {{item.loanDeadline}}月
						</div>
						<div class="sec_info">
							贷款额度 : {{item.loanLimit}}元
						</div>
						<div class="sec_info">
							滞纳金 : {{item.overdueFine}}
						</div>
						<div class="sec_info c-text-overflow">
							备注 : {{item.remark}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tabContent" [ngClass]='{activeTab : current == 1}'>
			<nz-tabset>
				<nz-tab [nzTitle]="'申请信息'">
					<form nz-form [nzLayout]="'inline'" [formGroup]="validForm">
						<div class="c-fold-wrap"  formGroupName='clientInfoInputVO'>
							<div class="c-fold-title c-flex-row-space">
								<div>
									借款人信息
								</div>
								<i class="anticon anticon-up-square-o c-arrow-ico" (click)='switchTab($event)'></i>
							</div>
							<div class="c-fold-content">
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="userName">姓名</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<input nz-input formControlName="userName" id="userName">
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.userName').dirty && validForm.get('clientInfoInputVO.userName').errors">姓名不能为空且必须为汉字</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="gender">性别</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="gender" id="gender">
											<nz-option nzValue="1" nzLabel="女"></nz-option>
											<nz-option nzValue="0" nzLabel="男"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.gender').dirty && validForm.get('clientInfoInputVO.gender').errors">性别必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="marriageState">婚姻状态</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="marriageState" id="marriageState">
											<nz-option nzValue="0" nzLabel="已婚"></nz-option>
											<nz-option nzValue="1" nzLabel="离婚"></nz-option>
											<nz-option nzValue="2" nzLabel="孀居"></nz-option>
											<nz-option nzValue="3" nzLabel="单身"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.marriageState').dirty && validForm.get('clientInfoInputVO.marriageState').errors">性别必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="birthDate">出生日期</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<input type="date" nz-input formControlName="birthDate" id="birthDate">
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.birthDate').dirty && validForm.get('clientInfoInputVO.birthDate').errors">出生日期必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="educationDegree">教育程度</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="educationDegree" id="educationDegree">
											<nz-option nzValue="0" nzLabel="高中/职专及以下"></nz-option>
											<nz-option nzValue="1" nzLabel="大学专科"></nz-option>
											<nz-option nzValue="2" nzLabel="大学本科"></nz-option>
											<nz-option nzValue="3" nzLabel="研究生及以上"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.educationDegree').dirty && validForm.get('clientInfoInputVO.educationDegree').errors">教育程度必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="idCard">身份证</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<input nz-input formControlName="idCard" id="idCard">
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.idCard').dirty && validForm.get('clientInfoInputVO.idCard').errors">身份证必须输入或格式不对</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="monthlyIncome">月收入</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-input-group nzAddOnAfter="元">
											<input nz-input formControlName="monthlyIncome" id="monthlyIncome">
										</nz-input-group>
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.monthlyIncome').dirty && validForm.get('clientInfoInputVO.monthlyIncome').errors">月收入必须输入或格式不对</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="localHouse">有无本地房产</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="localHouse" id="localHouse">
											<nz-option nzValue="0" nzLabel="无"></nz-option>
											<nz-option nzValue="1" nzLabel="有"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.localHouse').dirty && validForm.get('clientInfoInputVO.localHouse').errors">有无本地房产必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="phoneNumber">手机号</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<input nz-input formControlName="phoneNumber" id="phoneNumber">
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.phoneNumber').dirty && validForm.get('clientInfoInputVO.phoneNumber').errors">手机号必须输入且为11位</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<div class="formRow c-flex-row-start">
									<div class="formItem c-flex-row-start">
										<div class="formItem_title">
											居住状况:
										</div>
										<div>
											<nz-radio-group formControlName="dwellState">
												<div class="c-flex-row-start">
													<div class="inputRadio">
														<label nz-radio nzValue="0">自建</label>
														<input name='dwellDetail_1' type="text" formControlName="dwellDetail">
														<span>
															层
														</span>
													</div>

													<div class="inputRadio">
														<label nz-radio nzValue="1">自购无按揭</label>
														<input name = 'dwellDetail_2' type="text" formControlName="dwellDetail">
														<span>
															元
														</span>
													</div>

													<div class="inputRadio">
														<label nz-radio nzValue="2">自建</label>
														<input name='dwellDetail_3' type="text" formControlName="dwellDetail">
														<span>
															元
														</span>
													</div>
													<div class="inputRadio">
														<label nz-radio nzValue="3">租用</label>
													</div>
													<div class="inputRadio">
														<label nz-radio nzValue="4">亲戚住房</label>
													</div>
													<div class="inputRadio">
														<label nz-radio nzValue="5">单位住房</label>
													</div>
												</div>
											</nz-radio-group>
										</div>
									</div>
								</div>

								<div class="formRow c-flex-row-start">
									<div class="formItem c-flex-row-start">
										<div class="formItem_title">
											户口所在地:
										</div>
										<div>
											<nz-select 
												formControlName="registerProvince"
												style="width: 120px;margin-right: 20px;" 
												nzAllowClear nzPlaceHolder="所在省份"
												(ngModelChange) = 'priveChange($event , "enum_province","enum_city","registerProvince")'
											>
												<nz-option 
													*ngFor = 'let item of enum_province;let idx = index'
													[nzValue]="item.name + ',' + idx " [nzLabel]="item.name"			
												>
												</nz-option>

											</nz-select>

											<nz-select 
												formControlName='registerCity' 
												style="width: 120px;margin-right: 20px;" 
												nzAllowClear nzPlaceHolder="所在城市" 
												*ngIf ='enum_city && enum_city.length > 0'
												(ngModelChange) = 'priveChange($event ,"enum_city","enum_area","registerCity")'
											>
												<nz-option 
													*ngFor = 'let item of enum_city;let idx = index'
													[nzValue]="item.name +','+ idx" 
													[nzLabel]="item.name"
												>
												</nz-option>
											</nz-select>

											<nz-select 
												style="width: 120px;" 
												nzAllowClear 
												nzPlaceHolder="户籍县/区" 
												*ngIf ='enum_area && enum_area.length > 0'
												formControlName='registerCounty' 
											>
												<nz-option 
													*ngFor = 'let item of enum_area;let idx = index'
													[nzValue]="item.name +','+ idx" 
													[nzLabel]="item.name"
												>
												</nz-option>
											</nz-select>
										</div>
									</div>
								</div>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="registerDetailAddress">户口详情地址</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="元"> -->
											<input nz-input formControlName="registerDetailAddress" id="registerDetailAddress">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.registerDetailAddress').dirty && validForm.get('clientInfoInputVO.registerDetailAddress').errors">户口详情地址必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="currentAddress">现居住地</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="元"> -->
											<input nz-input formControlName="currentAddress" id="currentAddress">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientInfoInputVO.currentAddress').dirty && validForm.get('clientInfoInputVO.currentAddress').errors">现居住地必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

							</div>
						</div>
						<div class="c-fold-wrap">
							<div class="c-fold-title c-flex-row-space">
								<div>
									单位信息
								</div>
								<i class="anticon anticon-up-square-o c-arrow-ico" (click)='switchTab($event)'></i>
							</div>
							<div class="c-fold-content" formGroupName='clientUnitInputVO'>
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="unitName">单位名称</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="元"> -->
											<input nz-input formControlName="unitName" id="unitName">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.unitName').dirty && validForm.get('clientUnitInputVO.unitName').errors">单位名称必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="department">所在部门</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="元"> -->
											<input nz-input formControlName="department" id="department">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.department').dirty && validForm.get('clientUnitInputVO.department').errors">所在部门必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="unitNature">单位性质</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="unitNature" id="unitNature">
											<nz-option *ngFor = 'let item of enum_unit' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.unitNature').dirty && validForm.get('clientUnitInputVO.unitNature').errors">单位性质必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<div class="formRow c-flex-row-start">
									<div class="formItem_title">
											职称名称:
									</div>
									<div>
										<nz-radio-group formControlName="jobType">
											<div class="c-flex-row-start lineWrap">
												<label nz-radio nzValue="0">
													<span>
														经营类 
													</span>
													<input name='type_1' type="text" placeholder="" nz-input class="line_input" formControlName="jobPosition">
													<span>
														如:法人,股东
													</span>
												</label>
											</div>
											<div class="c-flex-row-start">
												<label nz-radio nzValue="1">
													<span>
														打工类 
													</span>
													<input name='type_2' type="text" placeholder="" nz-input class="line_input" formControlName="jobPosition">
													<span>
														如:一般职员(具体职务,如会计,厨师),种养殖户
													</span>
												</label>
											</div>
										</nz-radio-group>
									</div>
								</div>
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="currentUnitEntryDate">现单位入职时间</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="元"> -->
											<input type="date" nz-input formControlName="currentUnitEntryDate" id="currentUnitEntryDate">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.currentUnitEntryDate').dirty && validForm.get('clientUnitInputVO.currentUnitEntryDate').errors">现单位入职时间必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="currentUnitWorkYears">工作年限</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-input-group nzAddOnAfter="年"> 
											<input type="text" nz-input formControlName="currentUnitWorkYears" id="currentUnitWorkYears">
										</nz-input-group>
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.currentUnitEntryDate').dirty && validForm.get('clientUnitInputVO.currentUnitWorkYears').errors">工作年限必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="unitPhone">单位电话</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="年"> -->
											<input type="text" nz-input formControlName="unitPhone" id="unitPhone">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.unitPhone').dirty && validForm.get('clientUnitInputVO.unitPhone').errors">单位电话必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>
<!-- 								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="unitPhone">月收入</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-input-group nzAddOnAfter="元">
											<input type="date" nz-input formControlName="unitPhone" id="unitPhone">
										</nz-input-group>
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.unitPhone').dirty && validForm.get('clientUnitInputVO.unitPhone').errors">单位电话必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item> -->
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="salaryGrantForm">工资发放形式</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="salaryGrantForm" id="salaryGrantForm">
											<nz-option [nzValue]="0" [nzLabel]="'现金发放'"></nz-option>
											<nz-option [nzValue]="1" [nzLabel]="'银行转账'"></nz-option>
											<nz-option [nzValue]="2" [nzLabel]="'现金和银行转账结合'"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.salaryGrantForm').dirty && validForm.get('clientUnitInputVO.salaryGrantForm').errors">工资发放形式必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="currentUnitAddress">现单位所在地址</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<!-- <nz-input-group nzAddOnAfter="年"> -->
											<input type="text" nz-input formControlName="currentUnitAddress" id="currentUnitAddress">
										<!-- </nz-input-group> -->
										<nz-form-explain *ngIf="validForm.get('clientUnitInputVO.currentUnitAddress').dirty && validForm.get('clientUnitInputVO.currentUnitAddress').errors">现单位所在地址必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>
							</div>
						</div>
						<div class="c-fold-wrap">
							<div class="c-fold-title c-flex-row-space">
								<div>
									联系人信息(不承担贷款相关责任)
								</div>
								<i class="anticon anticon-up-square-o c-arrow-ico" (click)='switchTab($event)'></i>
							</div>
							<div class="c-fold-content">
								<div class="c-flex-row-end">
									<button style="border-radius: 0px" nz-button nzType="primary" class="c-btn-width" (click)="add()">
										添加联系人
									</button>
								</div>
								<div formArrayName="clientContactInputVOS">
									<div class="secRowInfo" *ngFor="let item of clientContactInputVOS.controls;let i = index" [formGroupName]="i" >
										<div class="contactWrap">
											<span>亲属{{i + 1 }}</span>
											<nz-popconfirm *ngIf='clientContactInputVOS.controls.length > 2' [nzTitle]="'确定移除该联系人?'" (nzOnConfirm)="removeRelation(idx)" [nzPlacement]="'topRight'">
												<span class="delIco" nz-popconfirm nz-tooltip="点我移除联系人">
													<i class="anticon anticon-delete delbtn"></i>
												</span>
											</nz-popconfirm>
										</div>
										<nz-form-item class='formSec'>
											<nz-form-label [nzSm]="11" nzRequired >姓名</nz-form-label>
											<nz-form-control [nzSm]="12"  [nzOffset]='1'>
												<input nz-input placeholder="" formControlName="contactName">
											</nz-form-control>
										</nz-form-item>
										<nz-form-item class='formSec'>
											<nz-form-label [nzSm]="11" nzRequired>关系</nz-form-label>
											<nz-form-control [nzSm]="12"  [nzOffset]='1'>
												<nz-select name="select-error" formControlName="contactRelation" (ngModelChange)='relationChange(i)'>
													<nz-option  nzValue="0" nzLabel="父母"></nz-option>
													<nz-option  nzValue="1" nzLabel="子女"></nz-option>
													<nz-option  nzValue="2" nzLabel="配偶"></nz-option>
													<nz-option *ngIf='i > 1 ' nzValue="3" nzLabel="兄弟姐妹"></nz-option>
													<nz-option *ngIf='i > 1 ' nzValue="4" nzLabel="亲戚"></nz-option>
													<nz-option *ngIf='i > 1 ' nzValue="5" nzLabel="朋友"></nz-option>
													<nz-option *ngIf='i > 1 ' nzValue="6" nzLabel="同学"></nz-option>
													<nz-option *ngIf='i > 1 ' nzValue="7" nzLabel="同事"></nz-option>
													<nz-option *ngIf='i > 1 ' nzValue="8" nzLabel="其他"></nz-option>
												</nz-select>
											</nz-form-control>
										</nz-form-item>

										<nz-form-item class='formSec'>
											<nz-form-label [nzSm]="11" nzRequired>手机号</nz-form-label>
											<nz-form-control [nzSm]="12"  [nzOffset]='1'>
													<input nz-input placeholder="" formControlName="contactPhone">
												</nz-form-control>
										</nz-form-item>
										<nz-form-item class='formSec'>
											<nz-form-label [nzSm]="11" nzRequired >工作单位</nz-form-label>
											<nz-form-control [nzSm]="12"  [nzOffset]='1'>
												<input nz-input placeholder="" formControlName="workUnit">
											</nz-form-control>
										</nz-form-item>

										<nz-form-item class='formSec'>
											<nz-form-label [nzSm]="11" nzRequired nzFor="loanUse">单位地址</nz-form-label>
											<nz-form-control [nzSm]="12" [nzOffset]='1'>
												<input nz-input placeholder="" formControlName="workAddress">
											</nz-form-control>
										</nz-form-item>
									</div>
								</div>
							</div>
						</div>

						<div class="c-fold-wrap">
							<div class="c-fold-title c-flex-row-space">
								<div>
									贷款事项
								</div>
								<i class="anticon anticon-up-square-o c-arrow-ico" (click)='switchTab($event)'></i>
							</div>
							<div class="c-fold-content"  formGroupName='applyOrderVO'>
								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="applyMoney">申请金额</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-input-group nzAddOnAfter="元">
											<input nz-input formControlName="applyMoney" id="applyMoney">
										</nz-input-group>
										<nz-form-explain *ngIf="validForm.get('applyOrderVO.applyMoney').dirty && validForm.get('applyOrderVO.applyMoney').errors">申请金额必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec' *ngIf = 'proListData && proList_active'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="deadline">申请期限</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="deadline" id="deadline">
											<nz-option [nzValue]="proListData[proList_active]['loanDeadline']" [nzLabel]="proListData[proList_active]['loanDeadline']+'期'"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('applyOrderVO.deadline').dirty && validForm.get('applyOrderVO.deadline').errors">申请期限必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>



								<nz-form-item class='formSec' *ngIf = 'proListData && proList_active'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="payBackType">还款方式</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="payBackType" id="payBackType">
											<nz-option *ngIf='proListData[proList_active]["repaymentMode"] == "等额本息"'  [nzValue]="0" [nzLabel]="'等额本息'"></nz-option>
											<nz-option *ngIf='proListData[proList_active]["repaymentMode"] == "等额本金"'  [nzValue]="1" [nzLabel]="'等额本金'"></nz-option>
											<nz-option *ngIf='proListData[proList_active]["repaymentMode"] == "先息后本"'  [nzValue]="2" [nzLabel]="'先息后本'"></nz-option>
											<nz-option *ngIf='proListData[proList_active]["repaymentMode"] == "等本等息"'  [nzValue]="3" [nzLabel]="'等本等息'"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('applyOrderVO.payBackType').dirty && validForm.get('applyOrderVO.payBackType').errors">还款方式必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="use">贷款用途</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<input nz-input formControlName="use" id="use">
										<nz-form-explain *ngIf="validForm.get('applyOrderVO.use').dirty && validForm.get('applyOrderVO.use').errors">贷款用途必须输入</nz-form-explain>
									</nz-form-control>
								</nz-form-item>

								<nz-form-item class='formSec' *ngIf = 'proListData && proList_active'>
									<nz-form-label [nzSm]="11" nzRequired nzFor="useNature">贷款性质</nz-form-label>
									<nz-form-control [nzSm]="12"  [nzOffset]='1'>
										<nz-select name="select-error" formControlName="useNature" id="useNature">
											<nz-option  [nzValue]="0" [nzLabel]="'自营贷款'"></nz-option>
											<nz-option  [nzValue]="1" [nzLabel]="'委托贷款'"></nz-option>
											<nz-option  [nzValue]="2" [nzLabel]="'特定贷款'"></nz-option>
										</nz-select>
										<nz-form-explain *ngIf="validForm.get('applyOrderVO.useNature').dirty && validForm.get('applyOrderVO.useNature').errors">贷款性质必须选择</nz-form-explain>
									</nz-form-control>
								</nz-form-item>
							</div>
						</div>
					</form>
					<div class="c-flex-row-end">
						<button class="c-btn-width" nz-button nzType="primary" (click)='submitCheck()'>资料保存</button> 
					</div>
				</nz-tab>
				<nz-tab [nzTitle]="'资料清单'">
					<div class="formRow_img c-flex-row-start">
						<div class="formItem_title">
							资料上传:
						</div>
						<div>
							<nz-select [(ngModel)]='imgSelect' style="width: 130px;" nzAllowClear nzPlaceHolder="资料类型">
								<nz-option *ngFor = 'let item of imgUploadType' [nzValue]="item.id+','+item.name" [nzLabel]="item.name"></nz-option>
							</nz-select>
						</div>
						<div  class="c-flex-row-start">
							<div class="uploadWrap c-flex-row-start">
								<button nzType="primary" class="imgUploadBtn c-btn-width" nz-button>浏览本地</button>
								<input type="file" id="fileUpload" (change)='imgUpload($event)'>
							</div>
							<div>
								<i class="anticon anticon-info-circle-o" style="color:#f00"></i>
								<span>上传资料之前请先选择资料类型</span>
							</div>
						</div>
					</div>
					<div class="formRow_img c-flex-row-start">
						<table class="img_table">
							<thead>
								<tr>
									<th class="table-type">类型</th>
									<th class="table-img">支持同类型图片上传多张,格式png,jpg,单张限制1M</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor = 'let item of imgUploads;let idx = index' >
									<td>
										{{ item.title }}
									</td>
									<td class="c-flex-row-start c-flex-auto-wrap">

										<div class="tableImgWrap flexColumnCenter" *ngFor = 'let img of item.imgs;let idx2 = index'>
											<div class='imgSmall' [ngStyle]="{'background-image': 'url(' + img.url + ')'}">
											</div>
											<div class="textWrap">
												<div class="imgName c-text-overflow">
													{{img.name}}
												</div>
												<div class="imgSize">
													图片大小 : {{img.size}}KB
												</div>
											</div>
											<div class="c-flex-row-end operWrap">
												<div class="firstBtn" nz-tooltip="点我查看图片" (click)='makeLook(idx,idx2)'>
													<i class="anticon anticon-eye-o watch" ></i>
												</div>
												<div>
													<nz-popconfirm [nzTitle]="'确定删除该图片'" (nzOnConfirm)="delImg(idx , idx2)" [nzPlacement]="'topRight'">
														<div nz-popconfirm nz-tooltip="点我删除图片">
															<i class="anticon anticon-delete delbtn"></i>
														</div>
													</nz-popconfirm>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</nz-tab>
			</nz-tabset>
		</div>
	</div>

	<div class="usrManger_info">
		<div class="title c-before-line">
			<span>
				客户经理信息
			</span>
		</div>
		<div class="c-flex-row-start">
			<div style="margin-right: 20px;" *ngIf='postModel && postModel.orderVO'>
				<nz-input-group nzAddOnBefore="姓名">
					<input type="text" readonly="true" placeholder="客户经理姓名" nz-input [ngModel]="postModel.orderVO.createUserName || '暂无' " name="managerName">
				</nz-input-group>
			</div>
			<div>
				<nz-input-group nzAddOnBefore="手机号">
					<input type="text" readonly="true" placeholder="客户经理手机号" nz-input [ngModel] = '"暂无"' name="manager">
				</nz-input-group>
			</div>
		</div>
	</div>
	<div class="btnGroup c-flex-row-center">
		<button class="usr_cancel c-btn-width" nz-button (click)='usrCancel()'>客户取消</button>
		<button class="c-btn-width" nz-button nzType="primary" (click)='nextStep()' *ngIf = 'current < 1'>下一步</button>
		<!-- <button class="c-btn-width" nz-button nzType="primary" (click)='submitCheck()' *ngIf = 'current >= 1'>资料保存</button> -->
	</div>
</div>

<nz-modal [(nzVisible)]="cancelModel" [nzTitle]="cancelTitle" [nzContent]="cancelContent" [nzFooter]="cancelFooter" (nzOnCancel)="cancelModel = false">
  <ng-template #cancelTitle>
  	客户取消
  </ng-template>

  <ng-template #cancelContent>
  	<div class="c-flexStart">
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div>
  			<h4>
  				客户确认要取消订单
  			</h4>
  			<p>
  				取消之后,将立即进入【已取消】列表
  			</p>
  		</div>
  	</div>
  </ng-template>

  <ng-template #cancelFooter>
    <button nz-button nzType="default" (click)="cancelModel = false">取消</button>
    <button nz-button nzType="primary" (click)="cancel()">确认</button>
  </ng-template>
</nz-modal>


 <nz-modal [(nzVisible)]="imgModal" [nzTitle]="imgTitle" [nzContent]="imgContent" [nzFooter]="imgFooter" (nzOnCancel)="imgModal = false">
  <ng-template #imgTitle>
    图片查看
  </ng-template>

  <ng-template #imgContent>
  	<div class="imgWrap c-flex-row-center">
  		<img [src] = 'lookImg.url' class="c-img-res">
  	</div>
  </ng-template>

  <ng-template #imgFooter>
    <button nz-button nzType="default" (click)="imgModal = false" style="margin-right: 20px">关闭</button>
	<!-- <nz-popconfirm [nzTitle]="'确定删除该图片'" (nzOnConfirm)="delImgBtn()" [nzPlacement]="'topRight'"> -->
	<button nz-button nzType="primary" (click)='delImgBtn()' >删除</button>
	<!-- </nz-popconfirm> -->
    
  </ng-template>
</nz-modal>