
<div class="c-content-wrap" (keydown.enter) = 'search()'>
	<div class="tabSwitch">
		<div class="c-flex-row-start c-dash-border">
			<div class="orderType-sec">
				类别 :
			</div>
			<ul class="c-list-unstyled c-flex-row-start">
				<li 
					*ngFor = 'let item of menuType;' 
					class="orderType-item c-flex-row-start"
					[ngClass] = '{"activeItem" : item.status == activeState}'
					(click) = 'changeType(item.status)'
				>
					{{item.desc}}
				</li>
			</ul>
		</div>
		<div class="searchGroup">
			<div class="c-flex-row-start c-flex-auto-wrap c-search-row">
				<div class="c-search-item">
					<input type="date">
				</div>
				<div class="c-search-item">
					<input type="date">
				</div>
				<div class="c-search-item">
					<input nz-input placeholder="申请人姓名">
				</div>
			</div>
			<div class="c-flex-row-start c-flex-auto-wrap c-search-row">

				<!-- 网点 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" nzShowSearch nzAllowClear nzPlaceHolder="选择网点"  [(ngModel)]="searchModel.departmentId" >
						<nz-option 
							*ngFor = 'let item of departList;'
							[nzValue]="item.id.toString()" 
							[nzLabel]="item.value"
						>
						</nz-option>
					</nz-select>
				</div>

				<!-- 产品名称 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.productId" nzAllowClear nzPlaceHolder="产品名称">
						<nz-option *ngFor = 'let item of productList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 客户经理 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.createUser" nzAllowClear nzPlaceHolder="客户经理">
						<nz-option *ngFor = 'let item of userManagerList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 节点流程 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;"  nzAllowClear nzPlaceHolder="流程节点">
						<nz-option *ngFor = 'let item of processList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>

				<!-- 处理人 -->
				<div class="c-search-item">
					<nz-select style="width: 120px;" [(ngModel)]="searchModel.modifyUser" nzAllowClear nzPlaceHolder="处理人">
						<nz-option *ngFor = 'let item of dealUserList' [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
					</nz-select>
				</div>
			</div>
			<div class="c-flex-row-start c-flex-auto-wrap">
				<div class="c-search-btn">
					 <button nz-button nzType="primary" (click)='reset()'>重置</button>
				</div>
				<div>
					 <button (click) = 'search()' nz-button nzType="primary"><i class="anticon anticon-search"></i>搜索</button>
				</div>
			</div>
		</div>
	</div>
	<c-table [tableData]='tableData'>
	</c-table>
	<div class="c-pag">
		<nz-pagination (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
	</div>
</div>


<nz-modal [(nzVisible)]="passModel" [nzTitle]="passTitle" [nzContent]="passContent" [nzFooter]="passFooter" (nzOnCancel)="passModel = false">
  <ng-template #passTitle>
  	确认预审通过
  </ng-template>

  <ng-template #passContent>
  	<div class="c-flexStart">
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div>
  			<h4>
  				确认通过
  			</h4>
  			<p>
  				通过之后,将立即进入资料补录阶段
  			</p>
  		</div>
  	</div>
  </ng-template>

  <ng-template #passFooter>
    <button nz-button nzType="default" (click)="passModel = false">取消</button>
    <button nz-button nzType="primary" (click)="pass()">通过</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="refuseModel" [nzTitle]="refuseTitle" [nzContent]="refuseContent" [nzFooter]="refuseFotter" (nzOnCancel)="refuseModel = false">
  <ng-template #refuseTitle>
  	确认预审拒绝
  </ng-template>

  <ng-template #refuseContent>
  	<div class="c-flexStart">
  		<i class="anticon anticon-info-circle-o c-warnInfo"></i>
  		<div>
  			<h4>
  				确认拒绝
  			</h4>
  			<p>
  				一旦拒绝,该笔借条将作废,进入【已流单】列表
  			</p>
  		</div>
  	</div>
  </ng-template>

  <ng-template #refuseFotter>
    <button nz-button nzType="default" (click)="refuseModel = false">取消</button>
    <button nz-button nzType="primary" (click)="refuse()">拒绝</button>
  </ng-template>
</nz-modal>