<div class="c-content-wrap">
	<div class="tabSwitch">
		<div class="c-flex-row-start c-dash-border">
			<div class="orderType-sec">
				类别 :
			</div>
			<ul class="c-list-unstyled c-flex-row-start">
				<li 
					*ngFor = 'let item of menuType;' 
					class="orderType-item c-flex-row-start"
					[ngClass] = '{"activeItem" : item.status == activeState}'
					(click) = 'changeType(item.status)'
				>
					{{item.desc}}
				</li>
			</ul>
		</div>
		<div class="searchGroup">
		</div>
	</div>
	<c-table [tableData]='tableData'>
	</c-table>
	<div class="c-pag">
		<nz-pagination (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
	</div>
</div>